node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/Playwright/playwrightTest/package-lock.json
/Playwright/playwrightTest/node_modules
/Playwright/playwrightTest/playwright-report
/axios-js-example/package-lock.json
/axios-js-example/node_modules
/axios-js-example/.cache
/axios-js-example/dist
/axios-js-example/.cache/
/Jest/jestFile/node_modules
/Jest/jestFile/package-lock.json
/Jest/jestAPI/node_modules
/Jest/jestAPI/package-lock.json
